@charset "utf-8";
@media (max-width: 767px) {
	body {
		min-width: inherit;
		position: relative;
		left: 0;
		overflow-x: hidden;
	}
	body .menuBox {
		display: inline-block;
	}
	body .comMenu {
		display: inline-block;
		left: -100%;
		top: 0px;
		width: 100%;
		position: fixed;
		z-index: 1000;
		background-color: #F6F6F6;
	}
	
	.comMenu a.nav-header {
		padding: 15px 5px;;
		background-color: #003366;
		color: #FFF;
		z-index: 1;
	}
	
	.comMenu .close {
		background-color: #FFF;
		border: 1px solid #000;
		z-index: 2;
		padding: 0 3px;
	}

	.comMenu .close a{
		font-size:25px;
		color: #000;
		z-index: 3;
	}

	.comMenu ul {
		margin: 0 0 10px;
	}

	.comMenu ul li {
		list-style-type: none;
		color: #444;
	}
	
	.comMenu ul li a{
		color: #444;
		display: block;
		padding: 10px;
	}
	
	.comMenu ul li a:hover{
		background: #c3c3d2;
	}
	.comMenu ul .liStyle {
		margin-bottom: 4px;
	}
	
	.comMenu ul li ul li {
		padding-bottom: 3px;
		font-size: 15px;
	}
	
	.comMenu ul .fontSize {
		font-size: 21px;
	}
	
	.comMenu ul .fontSize02 {
		font-size: 21px;
	}
	.sidebar-nav {
		display: none;
	}
	
	div.content {
		margin: 0;
		min-width: 0;
	}
	
	div.block-body {
		margin: 0 10px;
		overflow-x: scroll;
	}
	div.block-body table {
		min-width: 
	}
	
	div.pagination ul {
		display: block;
	}
	div.login_content {
		width: 95%;
		margin: 0 10px;
	}
	div.dialog {
		width: 100%;
		max-width: 350px;
	}
	div.dialog div.block{
		width: 100%;
		max-width: 350px;
	}
	div.block-body {
		width: 100%;
		margin: 0 10px;
		overflow: hidden;
		padding: 10px 0;
	}
	div.block-body .span12 {
		width: 300px;
	}
	button.pull-right {
		float: none;
		margin: 0 auto;
		display: inline-block;
	}
	.pc {
		display: none;
	}
	table.sp {
		display: inline-block;
	}
	button.sp {
		display: inline-block;
	}
}
